<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pedidos</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Lista de Pedidos</h1>
        <br>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>CPF</th>
                    <th>Preço Total</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pedido: ${pedidos}">
                    <td th:text="${pedido.id}"></td>
                    <td th:text="${pedido.cpfCliente}"></td>
                    <td th:text="${pedido.valorTotal}"></td>
                </tr>
            </tbody>
        </table>
        <br>
        <a href="/" class="btn btn-secondary">Voltar para o menu</a>
        <a href="showForm" class="btn btn-primary">Cadastrar</a>
    </div>

</body>
</html>
