<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Detalhes do Pedido</title>
</head>

<body>
    <h2><p th:if="${mensagem}" th:text="${mensagem}" class="alert alert-warning"></p></h2>

        <a href="showForm">Cadastrar</a><br>
        <a href="getListaPedidos">Voltar para a lista de pedidos</a>
    <br />
</body>

</html>
