<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <!-- Verifica se há uma mensagem de erro e a exibe -->
        <p th:if="${erro}" th:text="${erro}" class="alert alert-danger"></p>

        <h1 class="mt-5">Lista de Clientes</h1>
        <br />
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <!-- <th scope="col">Pontos Cashback</th> -->
                    <th scope="col">Ações</th>
                    <th scope="col">Lista de pedidos</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.id}"></td>
                    <td th:text="${cliente.nome}"></td>
                    <td th:text="${cliente.cpf}"></td>
                    <!-- <td th:text="${cliente.beneficioCliente.pontosCashback}"></td> -->
                    <td>
                        <a th:href="@{/cliente/detalhes/{id}(id=${cliente.id})}" class="btn btn-info btn-sm">Detalhes</a>
                        <a th:href="@{/cliente/editar/{id}(id=${cliente.id})}" class="btn btn-primary btn-sm">Editar</a>
                        <form th:action="@{'/cliente/deletar/' + ${cliente.id}}" method="post" style="display: inline;">
                            <input type="hidden" name="_method" value="delete" />
                            <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
                        </form>
                    </td>
                    <td><a th:href="@{/cliente/pedidos/{id}(id=${cliente.id})}" class="btn btn-info btn-sm">Pedidos</a> </td>
                </tr>
            </tbody>
        </table>

        <br /><br />
        <a th:href="@{/cliente/novo}" class="btn btn-success">Adicionar Novo Cliente</a><br>
        <a href="/" class="btn btn-secondary">Voltar para o menu</a><br>
    </div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
