<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Detalhes do Fornecedor</title>
</head>

<body>
    <h1>Detalhes do Fornecedor</h1>
    <p th:text="'ID: ' + ${fornecedor.id}"></p>
    <p th:text="'Nome: ' + ${fornecedor.nome}"></p>
    

    <h2>Produtos do Fornecedor:</h2>
    <!-- Verifica se há uma mensagem (mensagem só aparece caso produtos.isEmpty() em fornecedorController) e a exibe -->

    <p th:if="${mensagem}" th:text="${mensagem}" class="alert alert-warning"></p>

    <!-- Verifica se há produtos e os exibe -->
    <ul th:if="${produtos}">
        <li th:each="produto : ${produtos}" th:text="${produto.nome}"></li>
    </ul>
    
    <a href="/fornecedor/getListaFornecedores">Voltar para a lista de fornecedores</a>
    <br />
    <a href="/">Voltar para o menu</a><br>
</body>

</html>
