<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta tags, title, and stylesheets -->
</head>
<body>
    <h1>Editar Fornecedor</h1>
    <form action="/fornecedor/atualizar/{id}" method="post" th:object="${fornecedor}">
        <input type="hidden" th:field="*{id}" />
        <label for="nome">Nome do Fornecedor:</label>
        <input type="text" id="nome" name="nome" th:field="*{nome}" required>
        <button type="submit">Atualizar Fornecedor</button>
    </form>
    <br />
    <a href="/fornecedor/getListaFornecedores">Voltar para a lista de fornecedores</a>
    <a href="/">Voltar para o menu</a>
</body>
</html>
