<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fornecedor</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <!-- Verifica se há uma mensagem de erro e a exibe -->
        <p th:if="${erro}" class="alert alert-danger" role="alert" th:text="${erro}"></p>

        <h1 class="text-center mt-5">Lista de Fornecedores</h1>
        <br />
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Fornecedor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="fornecedor: ${fornecedores}">
                    <td th:text="${fornecedor.id}"></td>
                    <td th:text="${fornecedor.nome}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/fornecedor/detalhes/{id}(id=${fornecedor.id})}">Detalhes</a>
                        <a class="btn btn-secondary" th:href="@{/fornecedor/editar/{id}(id=${fornecedor.id})}">Editar</a>
                        <a class="btn btn-danger" th:href="@{/fornecedor/deletar/{id}(id=${fornecedor.id})}" onclick="return confirmDelete()">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <br /><br />
        <a class="btn btn-success create-btn" th:href="@{/fornecedor/novo}">Criar Novo Fornecedor</a>
        <br>
        <a class="btn btn-secondary mt-3" href="/">Voltar para o menu</a><br>
    </div>


    <script>
        function confirmDelete() {
            return confirm("ATENÇÃO: Ao excluir o fornecedor, você exclui TODOS os produtos associados a ele. Tem certeza que deseja excluir este fornecedor?");
        }
    </script>
</body>
</html>
