<!DOCTYPE html>
<html lang="en"
       xmlns="http://www.w3.org/1999/xhtml"  >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Mercearia</title>
</head>
<body>
    <h1>Sistema mercearia </h1>
    <nav>
        <a href="fornecedor/getListaFornecedores">Módulo Fornecedor</a><br>
 
        <a href="produto/getListaProdutos">Módulo Produto</a><br>

        <a href="pedidos/getListaPedidos">Módulo Pedido</a><br>

        <a href="cliente/getListaCliente">Módulo Cliente</a><br>
    </nav>
    
</body>
</html>