<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Produtos</title>
</head>

<body>
    <h1><p>Lista de Produtos</p></h1>
    
    <br />
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Produto</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Fornecedor</th>
                <th>Ações</th> <!-- Nova coluna para os links -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="produto: ${produtos}">
                <td th:text="${produto.id}"></td>
                <td th:text="${produto.nome}"></td>
                <td th:text="${produto.preco}"></td>
                <td th:text="${produto.quantidadeEstoque}"></td>
                <td th:text="${produto.fornecedor?.nome}"></td>
                <td>
                    <a th:href="@{/produto/editar/{id}(id=${produto.id})}">Editar</a>
                    <a onclick="return confirmDelete()" th:href ="@{/produto/delete/{id}(id=${produto.id})}">Excluir</a> |
                </td>
            </tr>
        </tbody>
    </table>

    <br /><br />
    <a href="/produto/criar">Adicionar novo produto</a><br>
    <a href="/">Voltar para o menu</a><br>
</body>
</html>


<script>
    function confirmDelete() {
        if (confirm("Tem certeza que deseja excluir este produto?")) {
            return true; 
        } else {
            return false; 
        }
    }
</script>